<div class="index-container">

  <%= t 'CRUD.text_html' %>

  <p><%= t 'CRUD.go' %> <button class="btn btn-warning"><%= link_to (t 'CRUD.create_movie'),
  new_movie_path %></button></p>

  <ul class="no-bullet">
    <% @movies.each do |movie| %>
      <li>> <%= link_to movie.title, movie_path(movie) %></li>
    <% end %>
  </ul>
</div>