<div class="nav-container">
  <h1><%= link_to 'Mon petit labo', root_path, class: :title %></h1>

  <div class="navbar-top">
    <ul>
      <li class="border-r"><%= link_to 'CRUD', movies_path %></li>
      <li class="border-r"><%= link_to 'API', api_path %></li>
      <li><%= link_to 'AUTH + API', auth_api_path %></li>
    </ul>
  </div>
  
</div>