<div class="api-container">

  <p>Welcome in the <span class="bold">API</span> section. We will use the <span
  class="italic">OMDb RESTful API</span> with which you will be able to search a movie title and
  display it with its illustration image.</p>

  <form id="search-movies" class="form-inline">
    <input id="keyword" type="text" class="form-control ml-auto mr-2" placeholder="Ex: Matrix">
    <input type="submit" class="btn btn-primary mr-auto ml-2" value="Search">
  </form>

<ul id="results" class="list-inline ul-grid"></ul>

</div>
