<div class="new-container">

  <form id="search-movies" class="form-inline">
    <input id="keyword" type="text" class="form-control ml-auto mr-2" placeholder="Movie title">
    <input type="submit" class="btn btn-primary mr-auto ml-2" value="Search">
  </form>

<ul id="results" class="list-inline"></ul>

</div>
