
<div class="index-container">
  <%= t 'API.text_html' %>
</div>

<div class="api-container">

  <%= t 'API.bug_html' %>
  <form id="search-movies" class="form-inline">
    <input id="keyword" type="text" class="form-control ml-auto mr-2" placeholder="Ex: Matrix">
    <input type="submit" class="btn btn-primary mr-auto ml-2" value="<%= t 'API.search' %>">
  </form>

<ul id="results" class="list-inline ul-grid"></ul>

</div>
