<div class="home-container">
  <h1>My skills</h1>

  <div class="navbar-top">
    <ul>
      <li id="border-right"><%= link_to 'CRUD', '#' %></li>
      <li><%= link_to 'API', '#' %></li>
    </ul>
  </div>
  
</div>