.border-r {
  border-right: 1px solid black;
}
.nav-container {
  width: 100%;
  text-align: center;
  a {
    color: black;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
}
.navbar-top {
  display: flex;
  width: 100%;
  height: 4em;
  background-color: #A4EBF3;
  align-items: center;
  justify-content: space-around;
  a {
    color: black;
    margin: 10px;
    padding: 10px 0px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
  ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    // padding: 0px;
  }
}
.title {
  font-family: 'Red Hat Display', sans-serif;
  box-shadow: #A4EBF3 0px -1rem 0px inset;
}
.title:hover {
  font-style: italic;
}