.border-r {
  border-right: 1px solid black;
}
.nav-container {
  width: 100%;
  text-align: center;
  a {
    color: black;
  }
  a:hover {
    color: red;
    text-decoration: none;
  }
}
.navbar-top {
  display: flex;
  width: 100%;
  height: 4em;
  background-color: wheat;
  align-items: center;
  justify-content: center;
  a {
    color: black;
    margin: 10px;
    padding: 10px 0px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
  ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}