.contain {
  height: 300px;
  max-width: 400px;
  object-fit: contain;
  margin-bottom: 1em;
}
.list-group {
  margin-bottom: 1em !important;
}
@media (min-width: 100px) and (max-width: 575px) {
  .contain {
    max-width: 260px;
  }
}